h1 
    | All sightings 


-@sightings.each do |sighting|
    ul
        =link_to sighting.created_at.strftime("%Y-%b-%d"), sighting
br 
=link_to "Add Sighting", new_sighting_path
br
=link_to "Search for sighting", new_search_path
br 
=link_to "Home", root_path 