div 
    =form_with model: @animal do |form|

        =form.label :Animal
        =form.text_field :name 
            -@animal.errors.full_messages_for(:name).each do |message|
                =message 

        br

        =form.submit