h1 
    =@region.region
p 
    -@region.animals.each do |animal|
        ul
            =link_to animal.name, animal

 
=link_to "Add sighting for #{@region.region}", region_new_sighting_path(region_id: @region)
br
=link_to "Edit Region", edit_region_path(@region)
br
=link_to "Delete this Region", region_path(@region),
                    method: :delete,
                    data: { confirm: "Are you sure?"}
br
=link_to "Regions", regions_path 
br
=link_to "Home", root_path